* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
}
@font-face {
    font-family:'applegaramond' ;
    src: url(assets/AppleGaramond.ttf);
}
@media (max-width: 768px) 
{
body{
background-image: url(assets/bg\ pizarra\ compress.jpg);
  background-size: contain;
}
  .containerlogo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .imglogo {
    width: 98%;
    image-rendering: optimizeQuality;
  }
  .containeropciones {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 20px;
    gap: 20px;
    padding: 0 20px;
  }
  .h2 {
    display: flex;
    justify-content: center;
  }
  h2 {
    color: whitesmoke;
    font-size: 36px;
    border-bottom: double white;
    padding: 0 10px;
    width: fit-content;
    text-shadow:#C08261 2px 1px;
  }
  .containerlista {
    display: flex;
    justify-content: center;
  }
  .lista {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
    width: 100%; 
  }
  li {
    font-family: 'applegaramond' ;
    font-size: 18px;
    justify-content: space-between;
    display: flex;
    width: inherit;
    position: relative;
    color: goldenrod;
    border-bottom: 0.5px;
    border-bottom-style: dashed;
    border-bottom-color: whitesmoke ;
  }
  span {
    color: goldenrod;
  }
  .containerfinal {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 20px;
    gap: 20px;
    padding: 0 20px;
    margin-bottom:50px;
  }
}
